<div class="card">
    <div class="card-body mt-1">
        <h4>{{postagem.titulo}}</h4>
        <p>{{postagem.conteudo}}</p>
        <br>
        <p>Data de criação: {{postagem.date}}</p>
    </div>
</div>